body
{
    background: rgb(219, 28, 28)
}
/* RECTO */
.carte
{
    padding: 50px;
    background: url(../image/simplon-occitanie-1.png) no-repeat;
    background-size: contain;
    margin-top: 100px;
   
    margin-left: 800px;
    width: 500px;
    height: 200px;
    text-align:center;
    border: solid 2px #000;
    margin-left: 25%;
    box-shadow:0px -1px 8px 0px rgb(0, 0, 0);
    text-transform: uppercase;
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-family: 'Amatic SC', cursive;
text-align: center;
    /* font-family: 'Cutive Mono', monospace; */
    
   
}
.carte h1 h2 p
{
}
.carte h1
{
   
 font-size: 22px;  

 /* text-shadow:rgb(182, 202, 0) 1px 1px 1px ; */
 
}
.carte h2
{
  
    font-size: 30px;
    letter-spacing: 3px;
    /* text-shadow: rgb(0, 0, 0) 1px 1px 1px ; */
}
.carte p
{
   
    font-size: 12px;
    margin-top: 25px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px ;
}

/* VERSO  */

.verso
{
    padding: 50px;
    background: url(../image/taopp.jpg) no-repeat;
    background-size: contain;
     margin-top: 100px;
     margin-bottom: 100px;
    margin-left: 800px;
    width: 500px;
    height: 200px;
    text-align:center;
    border: solid 2px #000;
    margin-left: 25%;
    box-shadow:0px -1px 8px 0px rgb(0, 0, 0);
    text-transform: uppercase;
   text-align: end;
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Cutive Mono', monospace; */
}
.verso p
{
    
    margin-left: 250px;
    margin-bottom: px;
    font-size: 11px;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px ;
}
 img
{
margin-bottom: 50px;
}
